<div *ngIf="item" class="container  text-center p-5 mt-5">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="box col-lg-4 border p-5">
            <img style="border-radius: 50px;" width="100px" src="https://i.pinimg.com/564x/6f/25/8d/6f258d0a7b6cb691901fa5f3a9182ad4.jpg" alt="Profile">
            <h4 class="mt-2 mb-2">Are you sure, do you want to delete this account ?</h4>
            <button (click)="deleteAcc()" class="btn btn-danger">Yes</button>&nbsp;&nbsp;
            <button (click)="cancel()" class="btn btn-success">No</button>&nbsp;&nbsp;
        </div>
        <div class="col-lg-4"></div>
    </div>

   
</div>